body {
    background-color: #5E6B89;
    font-family: "JetRegular", serif;
    color: aliceblue;
    margin-top: 50px;


}


.Header {
    text-align: center;
}

.Content--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;

}


.left--aside-Container {
    display: flex;
    flex-direction: column;
}

.right--aside-Container fieldset {
    max-height: 70vh;
    overflow: auto;
}

form:nth-child(1) {
    margin-bottom: 50px;
}



input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],button{
    width: 50%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox]:hover {
    width: 25%;
}

input[type=submit]:hover , button:hover {
    background-color: white;
    color: black;
}

.info--container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 4s forwards;
    animation-delay: 3s;


}

.info--container p {
    font-size:20px;
}

.actions {
    display: flex;
   justify-content: center;
    align-items: center;

}

P {
    margin: 5px 0 5px 0;
}

.img--Container {

    top: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
    margin: 0 10px 0 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.first-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset{
    border: 1px solid black;
    border-radius: 4px;
    padding: 40px;
    margin: 20px;
}

legend {
    padding: 0 10px 0 10px;
}

table, td, th {
    border: 1px solid gray;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#updateInputBtn , #deleteInput {
    width: 100px !important;
    height: 60px !important;

}


@keyframes fadeIn {
    0% {

        top: 50%;
    }
    100% {

        top: -300px;
    }
}

@media (max-width: 768px) {
    .Content--container {
        display: initial !important;
    }
}
